<main class="container">
  <div class="row justify-content-center my-4">
    <div
      class="d-none d-sm-block col-md-12 col-lg-7 text-center align-self-center"
    >
      <img
        src="../../../assets/teste_cadastro_ccexpress.png"
        alt="cadastro imagem"
        class="img-fluid rounded"
      />
    </div>

    <div class="col-md col-lg-5 align-self-center my-3">
      <form
        #f="ngForm"
        class="needs-validation"
        novalidade
        (submit)="onSubmit()"
      >
        <h3 class="text-center">Cadastro <img SRC="../../../assets/img-logo/logoPrincipalFinal_corte.png" width="200px"></h3>

        <div class="mt-2">
          <!-- Nome -->
          <label for="name" class="form-label"></label>
          <div class="input-group input-group-lg">
            <span class="input-group-text" id="inputGroup-sizing-lg">
              <i class="fa-solid fa-user"></i>
            </span>
            <input
            type="text"
            class="form-control"
            name="name"
            id="name"
            placeholder="Nome"
            #name="ngModel"
            required
            [(ngModel)]="user.name"
            minlength="3"
            >
          </div>

          <!-- CPF -->
          <label for="name" class="form-label"></label>
          <div class="input-group input-group-lg">
            <span class="input-group-text" id="inputGroup-sizing-lg">
              <i class="fa-solid fa-id-card"></i>
            </span>
            <input
            type="text"
            class="form-control"
            name="cpf"
            id="cpf"
            placeholder="CPF"
            #cpf="ngModel"
            required
            [(ngModel)]="user.cpf"
            mask="000.000.000-00"
            >
          </div>
          <div *ngIf="!cpf.valid && cpf.touched" class="error">
            <i class="bi bi-exclamation-triangle"></i>
            Insira um CPF válido
          </div>

          <!-- Telefone -->
          <label for="name" class="form-label"></label>
          <div class="input-group input-group-lg">
            <span class="input-group-text" id="inputGroup-sizing-lg">
              <i class="fa-solid fa-mobile-button"></i>
            </span>
            <input
            type="text"
            class="form-control"
            name="phone"
            id="phone"
            placeholder="Telefone"
            #phone="ngModel"
            required
            [(ngModel)]="user.phone"
            mask="(00) 00000-0000"
            >
          </div>
          <div *ngIf="!phone.valid && phone.touched" class="error">
            <i class="bi bi-exclamation-triangle"></i>
            Insira um telefone válido
          </div>

          <!-- Email -->
          <label for="email" class="form-label"></label>
          <div class="input-group input-group-lg">
            <span class="input-group-text" id="inputGroup-sizing-lg">
              <i class="bi bi-envelope-fill"></i>
            </span>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Email"
              #email="ngModel"
              required
              [email]="true"
              [(ngModel)]="user.email"
            />
          </div>
          <div *ngIf="!email.valid && email.touched" class="error">
            <i class="bi bi-exclamation-triangle"></i> Insira um email
            válido
          </div>
          <div *ngIf="resValidation == 'existing email'" class="error">
            <i class="bi bi-exclamation-triangle"></i> Este email já foi
            cadastrado
          </div>

          <!-- Senha -->
          <label for="password" class="form-label"></label>
          <div class="input-group input-group-lg">
            <span class="input-group-text" id="inputGroup-sizing-lg">
              <i class="bi bi-lock-fill"></i>
            </span>
            <input
              type="password"
              name="password"
              id="password"
              class="form-control user-select-none"
              placeholder="Senha"
              name="password"
              #password="ngModel"
              required
              [(ngModel)]="user.password"
              minlength="4"
            />
          </div>

          <div *ngIf="!password.valid && password.touched" class="error">
            <i class="bi bi-exclamation-triangle"></i> Sua senha deve ter no
            mínimo 4 caracteres
          </div>

          <div class="d-flex justify-content-center align-items-center">
            <button type="submit" class="btn btn-primary mt-4 w-50 text-center" [disabled]="f.invalid">
              Cadastrar
            </button>
          </div>

        </div>

        <p class="text-center text-muted mt-3">Ou entre com:</p>

        <div id="loginSocial" class="d-flex justify-content-center">
          <a href="https://pt-br.facebook.com/" target="_blank">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="36"
              height="36"
              fill="currentColor"
              class="bi bi-facebook"
              viewBox="0 0 16 16"
            >
              <path
                d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"
              />
            </svg>
          </a>
          <a href="https://www.google.com.br/" target="_blank">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="33"
              height="33"
              fill="#E94235"
              class="bi bi-google"
              viewBox="0 0 16 16"
            >
              <path
                d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"
              />
            </svg>
          </a>
        </div>
      </form>
    </div>
  </div>
</main>
