<div class="row">
  <div class="container">
    <div class="jumbotron">
      <div class="col-lg-6 my-2 px-5 pt-5 pb-2">
        <h1 class="display-4 px-4 mt-5 mb-0 font-italic">
          REEMBOLSO
        </h1>
        <h1 class="display-4 px-4 font-italic">
          SOULHEALTH
        </h1>
        <h6 class="px-4 mx-2 my-3">
          Entenda como funciona.
        </h6>
      </div>
    </div>
  </div>
</div>

<section class="pt-5 text-center">
  <h3 class="pb-4 ">Central de Reembolso</h3>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col col-sm-6 col-md-6 col-lg-3">
          <div class="card shadow-sm">
            <i class="fa-solid fa-calculator"></i>

            <div class="card-body">
              <h5>Calcular valor do reembolso</h5>
              <p class="card-text">Antes de pedir reembolso, você pode solicitar o cálculo do valor que pode ser reembolsado</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="mx-auto btn-group">
                  <button
                    type="button"
                    class="px-5 btn btn-sm btn-secondary"
                  >
                    Calcular
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-sm-6 col-md-6 col-lg-3">
          <div class="card shadow-sm">
            <i class="fa-solid fa-hand-holding-dollar"></i>

            <div class="card-body">
              <h5>Como solicitar seu reembolso</h5>
              <p class="card-text">Fique por dentro de como pedir reembolso de despesas médicas e hospitalares.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="mx-auto btn-group">
                  <button
                    type="button"
                    class="px-5 btn btn-sm btn-secondary"
                  >
                    Confira
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-sm-6 col-md-6 col-lg-3">
          <div class="card shadow-sm">
            <i class="fa-solid fa-file-lines"></i>
            <div class="card-body">
              <h5>Qual documentação necessária</h5>
              <p class="card-text">Consulte aqui a relação completa de documentos exigidos por tipo atendimento</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="mx-auto btn-group">
                  <button
                    type="button"
                    class="px-5 btn btn-sm btn-secondary"
                  >
                    Consultar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-sm-6 col-md-6 col-lg-3">
          <div class="card shadow-sm">
            <i class="fa-solid fa-coins"></i>

            <div class="card-body">
              <h5>Valores e Prazos de reembolso</h5>
              <p>Entenda aqui como é calculado o reembolso e quais são os prazos para pagamento.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="mx-auto btn-group">
                  <button
                    type="button"
                    class="px-5 btn btn-sm btn-secondary"
                  >
                  Saiba mais
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container pt-5 text-center informacao">
    <h5 class="mb-4">
      <i class="fa-solid fa-circle-info"></i>
      O que você precisa saber para
      <strong>
        pedir um reembolso
      </strong>
    </h5>
  </div>
  <div class="container pt-5 text-center informacao">
    <div class="paragraph">
      <p>
        A SoulHealth disponibiliza o reembolso de procedimentos médicos e hospitalares cobertos pelo seguro contratado e realizados fora da rede referenciada.
      </p>
    </div>
    <div class="paragraph">
      <p>
        O beneficiário escolhe o prestador de seu interesse e paga pelo serviço utilizado. Depois, solicita a quem prestou o atendimento médico a documentação necessária e apresenta à Seguradora para reembolso, o qual será feito de acordo com os limites estabelecidos pelo seguro.
      </p>
    </div>
    <div class="paragraph">
      <p>
        Clique aqui e solicite seu reembolso.
      </p>
    </div>
  </div>

</section>

<!-- TIRE SUAS DÚVIDAS -->
<section>
  <div class="container pt-5 text-center informacao">
    <h5 class="mb-0">
      <i class="fa-solid fa-circle-info"></i>
      Podemos ajudar?
      <strong>
        Tire suas dúvidas
      </strong>
    </h5>
  </div>
  <div class="col-10 col-sm-10 col-md-9 col-lg-8 m-auto py-5">
    <div class="accordion accordion-flush py-5" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            Como fazer a solicitação de reembolso?
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <ul>
              <div class="col-lg-12">
                <li>
                  <p class="m-3">
                    A solicitação pode ser feita pela Área do Beneficiário ou por meio do aplicativo SoulHealth. Basta anexar as notas fiscais ou recibos, juntamente com a documentação médica necessária.

                    Para mais informações, <a href="#">confira o passo a passo de como solicitar o reembolso</a>.
                  </p>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="false"
            aria-controls="flush-collapseTwo"
          >
            Qual a documentação necessária?
          </button>
        </h2>
        <div
          id="flush-collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingTwo"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <ul>
              <div class="col-lg-12">
                <li>
                  <p class="m-3">
                    <a href="#">Consulte aqui</a> a relação completa de documentos necessários por tipo de atendimento.
                  </p>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree"
            aria-expanded="false"
            aria-controls="flush-collapseThree"
          >
            Qual o prazo para pagamento?
          </button>
        </h2>
        <div
          id="flush-collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingThree"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <ul>
              <div class="col-lg-12">
                <li>
                  <p class="m-3">
                    O prazo é de até 30 dias corridos, contados a partir do recebimento de toda a documentação necessária.
                    A SoulHealth se reserva ao direito de solicitar documentos complementares para a análise do reembolso. Nesses casos, o prazo para pagamento contará a partir do recebimento da documentação complementar.
                  </p>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFive"
            aria-expanded="false"
            aria-controls="flush-collapseFive"
          >
            Depois de quanto tempo após o atendimento ainda posso solicitar reembolso?
          </button>
        </h2>
        <div
          id="flush-collapseFive"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingFive"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <ul>
              <div class="col-lg-12">
                <li>
                  <p class="m-3">
                    O beneficiário deverá observar o prazo máximo de um ano, a partir da data de ocorrência do atendimento, para solicitar o reembolso.
                  </p>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSix">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseSix"
            aria-expanded="false"
            aria-controls="flush-collapseSix"
          >
            Posso solicitar o reembolso para procedimentos realizados no exterior?
          </button>
        </h2>
        <div
          id="flush-collapseSix"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingSix"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <ul>
              <div class="col-lg-12">
                <li>
                  <p class="m-3">
                    Procedimentos realizados no exterior poderão ter seus valores reembolsados. A solicitação será encaminhada para análise.
                    <a href="#">Consulte aqui</a> como solicitar.
                  </p>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSeven">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseSeven"
            aria-expanded="false"
            aria-controls="flush-collapseSeven"
          >
            Minha apólice foi cancelada. Posso solicitar o reembolso para procedimentos realizados antes do cancelamento?
          </button>
        </h2>
        <div
          id="flush-collapseSeven"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingSeven"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <ul>
              <div class="col-lg-12">
                <li>
                  <p class="m-3">
                    Observado o tempo máximo para solicitação, é possível solicitar o reembolso, que será encaminhado para análise. <a href="#">Consulte aqui</a> como solicitar.
                  </p>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
