<section>
  <div class="row">
    <div class="container">
      <div class="jumbotron">
        <div class="col-lg-6 mt-2 px-5 pt-5 pb-2">
          <h1 class="display-4 px-4 mt-4 mb-0 font-italic">ATENDIMENTO</h1>
          <h1 class="display-4 px-4 mb-0 font-italic">HUMANIZADO</h1>
          <h1 class="display-4 px-4 mb-0 font-italic">TODOS OS DIAS!</h1>
          <h6 class="px-4 mx-2 mt-4">
            Equipes especializadas e atendimento humanizado.
          </h6>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-5">
  <div class="pt-5">
    <div class="row gap-2 container m-auto px-3">
      <div class="col-md-11 col-lg">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <h4 class="mb-0 mt-2 mt-lg-5">
              <a class="" href="#">Clínico Geral</a>
            </h4>
            <p class="pt-3 card-text mb-auto">
              O clínico geral é um profissional com amplo conhecimento sobre o
              funcionamento do corpo humano
            </p>
          </div>
          <img
            class="card-img-right flex-auto d-none d-lg-block"
            data-src="holder.js/200x250?theme=thumb"
            alt="Clínico Geral"
            style="width: 250px; height: 250px"
            src="../../../assets/clinico-geral.jpg"
            data-holder-rendered="true"
          />
        </div>
      </div>
      <div class="col-md-11 col-lg">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <h4 class="mb-0 mt-2 mt-lg-5">
              <a class="" href="#">Urologia</a>
            </h4>
            <p class="pt-3 card-text mb-auto">
              Especialidade cirúrgica da medicina que trata o trato urinário de
              homens e mulheres e do sistema reprodutor masculino.
            </p>
          </div>
          <img
            class="card-img-right flex-auto d-none d-lg-block"
            data-src="holder.js/200x250?theme=thumb"
            alt="Urologia"
            src="../../../assets/urologista.jpg"
            data-holder-rendered="true"
            style="width: 250px; height: 250px"
          />
        </div>
      </div>
    </div>

    <div class="row gap-2 container m-auto px-3">
      <div class="col-md-11 col-lg">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <h4 class="mb-0 mt-2 mt-lg-5">
              <a class="" href="#">Ginecologia</a>
            </h4>
            <p class="pt-3 card-text mb-auto">
              Os ginecologistas, se concentram na saúde reprodutiva da mulher.
            </p>
          </div>
          <img
            class="card-img-right flex-auto d-none d-lg-block"
            data-src="holder.js/200x250?theme=thumb"
            alt="Ginecologia"
            style="width: 250px; height: 250px"
            src="../../../assets/Ginecologista.png"
            data-holder-rendered="true"
          />
        </div>
      </div>
      <div class="col-md-11 col-lg">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <h4 class="mb-0 mt-2 mt-lg-5">
              <a class="" href="#">Obstetrícia</a>
            </h4>
            <p class="pt-3 card-text mb-auto">
              A obstetrícia é o ramo da medicina que estuda a reprodução na
              mulher.
            </p>
          </div>
          <img
            class="card-img-right flex-auto d-none d-lg-block"
            data-src="holder.js/200x250?theme=thumb"
            alt="Obstetrícia"
            src="../../../assets/Obstetra.jfif"
            data-holder-rendered="true"
            style="width: 250px; height: 250px"
          />
        </div>
      </div>
    </div>
    <div class="row gap-2 container m-auto px-3">
      <div class="col-md-11 col-lg">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <h4 class="mb-0 mt-2 mt-lg-5">
              <a class="" href="#">Pediatria</a>
            </h4>
            <p class="pt-3 card-text mb-auto">
              Pediatria é dedicado ao cuidado da saúde de crianças, adolescentes
              e pré-adolescentes.
            </p>
          </div>
          <img
            class="card-img-right flex-auto d-none d-lg-block"
            data-src="holder.js/200x250?theme=thumb"
            alt="Pediatria"
            style="width: 250px; height: 250px"
            src="../../../assets/pediatra.jpeg"
            data-holder-rendered="true"
          />
        </div>
      </div>
      <div class="col-md-11 col-lg">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <h4 class="mb-0 mt-2 mt-lg-5">
              <a class="" href="#">Cirurgia Geral</a>
            </h4>
            <p class="pt-3 card-text mb-auto">
              Ocupa-se do estudo dos mecanismo fisiopatológicos, diagnóstico e
              tratamento.
            </p>
          </div>
          <img
            class="card-img-right flex-auto d-none d-lg-block"
            data-src="holder.js/200x250?theme=thumb"
            alt="Cirurgia Geral"
            src="../../../assets/Cirurgião Gera.jpg"
            data-holder-rendered="true"
            style="width: 250px; height: 250px"
          />
        </div>
      </div>
    </div>
    <div class="row gap-2 container m-auto px-3">
      <div class="col-md-11 col-lg">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <h4 class="mb-0 mt-2 mt-lg-5">
              <a class="" href="#">Oftalmologia</a>
            </h4>
            <p class="pt-3 card-text mb-auto">
              A oftalmologia estuda e trata as doenças relacionadas ao olho.
            </p>
          </div>
          <img
            class="card-img-right flex-auto d-none d-lg-block"
            data-src="holder.js/200x250?theme=thumb"
            alt="Oftalmologia"
            style="width: 250px; height: 250px"
            src="../../../assets/Oftalmologia.jpg"
            data-holder-rendered="true"
          />
        </div>
      </div>
      <div class="col-md-11 col-lg pb-5">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <h4 class="mb-0 mt-2 mt-lg-5">
              <a class="" href="#">Geriatra</a>
            </h4>
            <p class="pt-3 card-text mb-auto">
              O geriatra atende o idoso, diferenciando as mudanças anatômicas,
              funcionais e psicológicas.
            </p>
          </div>
          <img
            class="card-img-right flex-auto d-none d-lg-block"
            data-src="holder.js/200x250?theme=thumb"
            alt="Geriatra"
            src="../../../assets/otorrino.jfif"
            data-holder-rendered="true"
            style="width: 250px; height: 250px"
          />
        </div>
      </div>
    </div>
  </div>
</section>
